.container {
  height: 100vh;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
  width: 500px;
  height: 500px;
  border: 3px dashed whitesmoke;
  border-radius: 50px;
  padding: 5px;
  background: '#FFFF00';
}
button {
  background-color: whitesmoke;
  width: 100px;
  height: 20px;
  position: absolute;
  top: 55%;
}
